<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="name">
	{$name_editcontrol}
	</control>
	<control field="birthdate">
	{$birthdate_editcontrol}
	</control>
	<control field="birthCert">
	{$birthCert_editcontrol}
	</control>
	<control field="gender">
	{$gender_editcontrol}
	</control>
	<control field="nationality">
	{$nationality_editcontrol}
	</control>
	<control field="eNo">
	{$eNo_editcontrol}
	</control>
	<control field="s1">
	{$s1_editcontrol}
	</control>
	<control field="s2">
	{$s2_editcontrol}
	</control>
	<control field="s3">
	{$s3_editcontrol}
	</control>
	<control field="s4">
	{$s4_editcontrol}
	</control>
	<control field="s5">
	{$s5_editcontrol}
	</control>
	<control field="s6">
	{$s6_editcontrol}
	</control>
	<control field="s7">
	{$s7_editcontrol}
	</control>
	<control field="sCode">
	{$sCode_editcontrol}
	</control>
	<control field="eYear">
	{$eYear_editcontrol}
	</control>
	<control field="eType">
	{$eType_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>